.navbar{
    background-color: #999999;
    border: 3px solid black;
}
.navbar-brand{
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
}
.navbar-collapse{
    text-align: center;
}
.navbar-nav a{
    border-top: 2px solid black;
}
.navbar-toggler{
    background-color: #d9d9d9;
}
.h2{
    text-align: center;
    margin: 30px 0 25px 0;
    font-family: revert;
    font-weight: bold;
    
}
.container{
    background-color: #999999;
}
.chicken{
    text-align: center;
    margin: 0px 0 12px 0;
    font-family: revert;
    font-weight: bold;
    font-size: 20px;
}

@media (min-width: 1200px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 95%;
}
}

@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 95%;
}
}

@media (min-width: 768px) {
.container, .container-md, .container-sm {
    max-width: 95%;
} 
}

@media (min-width: 576px) {
.container, .container-sm {
    max-width: 95%;
}
}

@media (max-width: 575px) {
    .container, .container-sm {
        max-width: 85%;
    }
    }